<div class="p-4 position-relative">
    <div class="secondaryBackground trapezoid_background"></div>
    <h2 class="main_subtitle transparent_text my-3">About</h2>
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <p>
                I am a student of Computer Science at the Instituto Tecnológico de Costa Rica, where I have been consistently improving my skills in software development and problem-solving by delivering various projects. I also have a deep passion for new technologies and am eager to learn about them to improve my knowledge in software development.
            </p>
            <p>
                I am constantly working on different kinds of projects, most of them by hobby, that challenge my abilities and expand my skill set. I'm always seeking opportunities to grow and apply my expertise in new and creative ways.
            </p>
            <p>
                I consider myself a detail-oriented and punctual person with strong organizational skills. I take a proactive approach when collaborating in team environments, always looking to bring out the best in both myself and my teammates.
            </p>
        </div>
    </div>
</div>