<div class="p-4 position-relative">
    <div class="secondaryBackground trapezoid_background"></div>
    <h2 class="main_subtitle transparent_text">Contact</h2>

    <div class="d-flex justify-content-around fs-1">
        <a href="https://github.com/DeynerNB" target="_blank" rel="noopener noreferrer"><i class="social_media_icon fa-brands fa-github"></i></a>
        <a href="linkedin.com/in/deyner-navarro-badilla-600b3423a" target="_blank" rel="noopener noreferrer"><i class="social_media_icon fa-brands fa-linkedin"></i></a>
        <a href="https://www.instagram.com/deyner_01/" target="_blank" rel="noopener noreferrer"><i class="social_media_icon fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/deynerandres.navarrobadilla/" target="_blank" rel="noopener noreferrer"><i class="social_media_icon fa-brands fa-facebook"></i></a>
    </div>
    <div class="mt-4">
        <p class="text-center">Something that they add here</p>
    </div>
    <div class="text-center">
        <a href="#main-section" class=" link-darker-animation">Go back to the top <i class="fa-solid fa-mountain-sun"></i></a>
    </div>
</div>
