<div class="p-4 position-relative">
    <div class="secondaryBackground trapezoid_background"></div>
    <h2 class="main_subtitle transparent_text my-3">Contact</h2>

    <div class="d-flex justify-content-around fs-1">
        <a href="https://github.com/DeynerNB" target="_blank" rel="noopener noreferrer"><i class="social_media_icon fa-brands fa-github"></i></a>
        <a href="https://linkedin.com/in/deyner-navarro-badilla-600b3423a" target="_blank" rel="noopener noreferrer"><i class="social_media_icon fa-brands fa-linkedin"></i></a>
        <a href="https://www.instagram.com/deyner_01/" target="_blank" rel="noopener noreferrer"><i class="social_media_icon fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/deynerandres.navarrobadilla/" target="_blank" rel="noopener noreferrer"><i class="social_media_icon fa-brands fa-facebook"></i></a>
    </div>
    <div class="mt-4 row justify-content-center">
        <p class="text-center col-sm-12 col-md-6 col-lg-5">
            This site was build with <a href="https://angular.dev/" target="_blank" class="external_link">Angular</a>, <a href="https://getbootstrap.com/" target="_blank" class="external_link">Bootstrap</a> and some personal CSS. Deploy using <a href="https://pages.github.com/" target="_blank" class="external_link">Github Pages</a>
        </p>
    </div>
    <div class="text-center">
        <a href="#main-section" class=" link-darker-animation">Go back to the top <i class="fa-solid fa-mountain-sun"></i></a>
    </div>
</div>
