<a href={{cardLink}} target="_blank" class="card_link_container">
    <div class="d-flex project_card_container row py-3">
        <div class="col-12 col-sm-6 col-md-3 py-1">
            <img src={{cardImage}} alt="project_image" class="img-thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-9 d-flex flex-column">
            <div>
                <span class="fs-4">{{cardTitle}}</span>
                <div class="mb-2">
                    @for (language of cardLanguages; track $index) {
                        <span class="language-badge me-2">{{language}}</span>
                    }
                </div>
            </div>
            <div class="project_description_container flex-grow-1">
                <div class="project_slider_container d-flex flex-column h-100">
                    <p class="project_description p-3">
                        {{cardDescription}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</a>