<a href={{cardLink}} target="_blank" class="card_link_container">
    <div class="d-flex project_card_container row py-3">
        <div class="col-12 col-sm-6 col-md-3 py-1">
            <img src={{cardImage}} alt="project_image" class="img-thumbnail">
        </div>
        <div class="col-12 col-sm-6 col-md-9 d-flex flex-column">
            <span class="fs-4">{{cardTitle}}</span>
            <div class="project_description_container flex-grow-1">
                <p class="project_description p-3">{{cardDescription}}</p>
            </div>
        </div>
    </div>
</a>