.title_button {
    width: 180px;

    padding: 7px 12px;
    outline: none;
    border: none;
    background-color: transparent;

    text-decoration: none;
    user-select: none;

    cursor: pointer;

    transition: background-color 0.2s, color 0.2s, transform 0.2s, filter 0.2s;
}

.red_button {
    border-bottom: 2px solid #F49FBC;
    color: #F49FBC;
}
.pink_button {
    border-bottom: 2px solid #ED9FF4;
    color: #ED9FF4;
}
.purple_button {
    border-bottom: 2px solid #B59FF4;
    color: #B59FF4;
}

.red_button:hover {
    filter: brightness(1.25);
    transform: translateY(-3px);
}
.pink_button:hover {
    filter: brightness(1.25);
    transform: translateY(-3px);
}
.purple_button:hover {
    filter: brightness(1.25);
    transform: translateY(-3px);
}

.title_button:active {
    transform: scale(0.98);
    filter: brightness(0.85);
}

.detail_information_span {
    user-select: none;
    color: var(--secondary_backgroundColor_variant);

    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.detail_information_span:hover {
    color: #ffffff;
    transform: translateX(5px);
}

.social_media_icon {
    transition: transform 0.13s ease-in-out, color 0.13s ease-in-out;
}
.social_media_icon:hover {
    transform: scale(1.1);
}
.social_media_icon:active {
    color: var(--secondary_backgroundColor_variant);
    transform: scale(1);
}
@media (max-width: 768px) {
    .social_media_icon {
        font-size: 36px;
    }
}