<div class="row py-5">
    <div class="col-12 col-sm-12 col-md-11">
        <span class="fs-5">Hi there! 👋 My name is</span>
        <span class="main_title secondary-color-variant-text d-block">{{page_title}}</span>
        <div class="row mb-4">
            <p class="col-sm-12 col-md-12 fs-5">I'm a Computer Science student at Tecnológico de Costa Rica.
                I'm passionate about enhancing my skills and knowledge in computing.</p>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-1 d-flex flex-md-column fs-3 text-end justify-content-between">
        <a href="https://github.com/DeynerNB" target="_blank" rel="noopener noreferrer"><i class="social_media_icon fa-brands fa-github"></i></a>
        <a href="https://linkedin.com/in/deyner-navarro-badilla-600b3423a" target="_blank" rel="noopener noreferrer"><i class="social_media_icon fa-brands fa-linkedin"></i></a>
        <a href="https://www.instagram.com/deyner_01/" target="_blank" rel="noopener noreferrer"><i class="social_media_icon fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/deynerandres.navarrobadilla/" target="_blank" rel="noopener noreferrer"><i class="social_media_icon fa-brands fa-facebook"></i></a>
    </div>

    <div class="col pt-5 d-flex justify-content-between fs-5">
        <a href="#about-section" class="title_button red_button text-center link-underline-opacity-0">About</a>
        <a href="#project-section" class="title_button pink_button text-center link-underline-opacity-0">Projects</a>
        <a href="#contact-section" class="title_button purple_button text-center link-underline-opacity-0">Contact</a>
    </div>
</div>