<div class="p-4 row">
    <div class="col-sm-12 col-md-7">
        <h1 class="main_title">{{page_title}}</h1>
    
        <div class="d-flex flex-column gap-3 mb-5">
            <span class="fs-4 detail_information_span">Deyner Navarro Badilla</span>
            <span class="fs-5 detail_information_span">Computer Science Student</span>
        </div>
    
        <div class="row mb-4">
            <p class="col-sm-12 col-md-12 fs-5">Hi there! 👋 I'm a Computer Science student at Tecnológico de Costa Rica. I'm passionate about enhancing my skills and knowledge in computing.</p>
        </div>
    
        <div class="d-flex flex-column gap-4">
            <a href="#about-section" class="title_button red_button text-center link-underline-opacity-0">Go to About</a>
            <a href="#project-section" class="title_button pink_button text-center link-underline-opacity-0">Go to Projects</a>
            <a href="#contact-section" class="title_button purple_button text-center link-underline-opacity-0">Go to Contact</a>
        </div>
    </div>
    <div class="col-sm-12 col-md-5 d-flex justify-content-center align-items-center">
        <components-display-ascii></components-display-ascii>
    </div>
</div>